asgiref==3.9.1
beautifulsoup4==4.13.5
bs4==0.0.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
defusedxml==0.7.1
Django==5.2.6
futures==3.0.5
goslate==1.5.4
idna==3.10
image==1.5.33
numpy==2.2.6
opencv-python==4.12.0.88
pillow==11.3.0
PyDictionary==2.0.1
qrcode==8.2
requests==2.32.3
schedule==1.2.2
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.4.0
webvtt-py==0.5.1
youtube-transcript-api==1.0.3
yt-dlp==2025.5.22
